body {
  overflow-y: scroll;
  }

  .xd {
    top:50px;
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 1090px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    position: relative;
  }


.wariatback {
  text-align: center;
}

.xd .wariat {
  background-color: rgb(60, 152, 30);
  color: white;
  border: 2px;
  border-radius: 5px;
  padding: 10px 20px;
}
.xd .wariat:hover {
  background-color: #38ba38;
}

.xd .deletebutton {
  background-color: rgb(100, 16, 16);
  color: white;
  border: 2px;
  border-radius: 5px;

}

.xd .deletebutton:hover {
  background-color: #bb2828;
}

.xd .editbutton {
  background-color: rgb(60, 78, 156);
  color: white;
  border: 2px;
  border-radius: 5px;

}

.xd .editbutton:hover {
  background-color: #4e82a4;
}


.xd .update {
  background-color: rgb(60, 152, 30);
  color: white;
  border: 2px;
  border-radius: 5px;
  padding: 10px 20px;
}

.xd .update:hover{
  background-color: #38ba38;
}

.xd .btn-info {
  background-color: #333;
  border-color: #333;
  border: 1px;
  color: #fff;
}

.xd .btn-info:hover {
  background-color: #646161;

}


input[type="text"],
input[type="datetime-local"] {
  width: 410px;
}


.btn-group {
  margin-left: 5px;
}

.btn {
  margin-right: 3px;
}


.tables td {
  word-wrap: break-word;
  word-break: break-word;
}