.Navbar {
  background-color: #333;
  display: flex;
  justify-content: center;
}

.Navbar font {
  color: white;
}

.Navbar img {
  height: 50px;
  width: 150px;
  margin-right: 0px;
  margin-left: 10px;
}

.nav-link {
  color: white;
  transition: 200ms linear; 
 font-size: large;
  border: 1px;
  border-radius: 10px;
  margin-left: 4px;
  
}
.nav-link:hover {
  color: rgb(176, 171, 171);
}

.logout {
 background-color: #881f1f;
 color: white;
 border: 1px;
 border-radius: 10px;
 text-align: center;
}

