.workout-details-container {
  top:30px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  bottom: 50px;
}



.table1 {
  margin-top: 20px;
  font-size: 0.8rem;
  max-width: 600px;
}

.table1 td, 
.table1 th {
  padding: 0.25rem;
  text-align: center;
  
}

.table1 thead th {
  background-color: #3b3b3b;
  color: white;
  border-color: #333;
  border-width: 0.1px;

}

.table1 tbody td {
  border-color: #dee2e6;
}

.table2 {
  margin-top: 20px;
  font-size: 0.8rem;
  max-width: 750px;
}

.table2 thead th {
  background-color: #3b3b3b;
  color: white;
  border-color: #333;
  border-width: 0.1px;

}

.exercise-image-cell {
  width: 15%;
}

.exercise-image-cell img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  
  
}

.exercise-image-cell1 {
  width: 100%;
  border: #333;
}

.exercise-image-cell1 img {
  max-width: 50%;
  margin-left: 50px;
  margin-right: 50px;
}




.modal-content {
  background-color: #fff;
}

.h5-1 {
  text-align: center;
  justify-content: center;
 
  color: #000000;
  font-size: 25px;

}

.table3 thead th {
  background-color: #3b3b3b;
  color: white;
  border-color: #333;
  border-width: 0.1px;

}

.table3 th, .table3 td {
  color: black;
}

.deletebutton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
}

.editbutton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
}


